<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <ul>
            <li routerLink="/login" routerLinkActive="active">Login</li>
            <li routerLink="/dashboard" routerLinkActive="active">Dashboard</li>
            <li routerLink="/order" routerLinkActive="active">Order</li>
            <li routerLink="/batch" routerLinkActive="active">Batch</li>
            <li routerLink="/patients" routerLinkActive="active">Patients</li>
            <li routerLink="/user" routerLinkActive="active">User</li>
            <li routerLink="/report" routerLinkActive="active">Report</li>
        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

