<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <ul>
            <li routerLink="/login" routerLinkActive="active">Login</li>
            <li routerLink="/dashboard" routerLinkActive="active">Dashboard</li>
            <li routerLink="/list" routerLinkActive="active">My Tasks</li>
            <li routerLink="/batch" routerLinkActive="active">Batches</li>

            <li routerLink="/user" routerLinkActive="active">Users</li>


            <li routerLink="/order" routerLinkActive="active">Orders</li>
            <li routerLink="/provider" routerLinkActive="active">Providers</li>
            <li routerLink="/location" routerLinkActive="active">Location</li>


            <li routerLink="/patients" routerLinkActive="active">Patients</li>
            <li routerLink="/report" routerLinkActive="active">Reports</li>
            <li routerLink="/inventory" routerLinkActive="active">Inventory</li>
            <li routerLink="/sample-storage" routerLinkActive="active">Sample Storage
            </li>
            <li routerLink="/Controls" routerLinkActive="active">Controls</li>
            <li routerLink="/Targets" routerLinkActive="active">Targets</li>
            <li routerLink="/test" routerLinkActive="active">Test Type
            </li>
            <li routerLink="/batch-profile" routerLinkActive="active">Batch Profile
            </li>
            <li routerLink="/Settings" routerLinkActive="active">Settings</li>
           






        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

