<div class="container-fluid">
    <div class="row">
        <div class="header">
            <span>Providers</span>
            <div class="line">
        </div>
        <hr>
    </div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="title">
            <span>Providers</span>
            <div class="line">
            <hr>
        </div>
    </div>
    <div class="point">
        <div class="red-circle">1</div>
        <span>Once you click on the"Providers" from the sidebar, below screen will be displayed.</span>
    </div>
    <div class="point">
        <div class="red-circle">2</div>
        <span>In this particular component you will see the "Providers List". </span>
    </div>
    <!-- <div class="point" style="width: 100%;">
        <span class="subheader pl-0">After Login</span>
    </div> -->
   
    
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <img class="batch-img mt-4 mb-4 " src="../../../assets/images/provider1.png" alt="Providers">
        </div>
    </div>
    <div class="row">
        <div class="title mt-5">
            <span>Add Provider  </span>
            <div class="line">
        <hr>
        </div>
        </div> 
        <div class="point">
            <div class="red-circle">1</div>
            <span>Now if you want to add a new provider then just click on "Add" button from the Provider list</span>
        </div>
        <div class="point">
            <div class="red-circle">2</div>
            <span>When you click on the "Add" button a form will be displayed as shown in the picture below. </span>
        </div>
        <div class="point">
            <div class="red-circle">3</div>
            <span>Just fill in the details and click on the "Save" button at the top and the newly added provider will be displayed in the Providers List. </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <img class="batch-img mt-4 mb-4 " src="../../../assets/images/add-provider.png" alt="Providers">
        </div>
    </div>
</div>

