<div class="container-fluid">
    <div class="row">
        <div class="header">
            <span>My taskss</span>
            <div class="line">
        </div>
        <hr>
    </div>
    <div class="point">
        <div class="red-circle">1</div>
        <span>Once you click on the"My Tasks" from the sidebar, below screen will be displayed.</span>
    </div>
    <div class="point">
        <div class="red-circle">2</div>
        <span>In this particular component you will see the "Task List".</span>
    </div>
    
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <img class="dashboard-img mt-4 mb-4" src="../../../assets/images/task1.png" alt="dashbboard">

        </div>
    </div>
    <div class="row">
        <div class="point">
            <div class="red-circle">3</div>
            <span>You can see here that in "Task List" buttons at the top are not active but once you select any task from the list they become active. </span>
        </div>
        <div class="col-12">
            <img class="dashboard-img mt-4 mb-4" src="../../../assets/images/task-select.png" alt="dashbboard">

        </div>
       
    </div>
</div>