<div class="container-fluid">

    <h2>Once the user login with their credentials follow these steps:</h2>
    <ol>
        <li class="list-box">Click the <b>“My Task”</b> button from the left sidebar and all Pending Samples will be seen under “My Task” list</li>
        <div class="image-div">
            <img src="../../../assets/images/1st.PNG" alt=""  class="screenshot">
        </div>
        <li class="list-box"><b>For collecting the Samples:</b></li>
        <ul style="list-style-type:square;">
            <li>Place the checkmark in the box in front of the order # on the left-hand side, and the “Open” button will be visible on top under Task List.</li>
            <li>Click that <b>“Open” </b>button.</li>
            <div class="image-div">
                <img src="../../../assets/images/2nd.PNG" alt="" class="screenshot">
            </div>
            <li>The “My Task [Order]” page will be opened.</li>
            <div class="image-div">
                <img src="../../../assets/images/3rd.PNG" alt="" class="screenshot">
            </div>
            <li>Scan the Barcode/QR from the sample, and code will appear under “Sample ID” field.</li>
            <li>click the <b>Submit button</b> on top next to the “My Task [Order]”  button.</li>
            <div class="image-div">
                <img src="../../../assets/images/4th.PNG" alt="" class="screenshot">
            </div>
            <li>After submitting, it won’t be available in the “My Tasks” list, but it will be reviewed from the Order button.</li>
            <div class="image-div">
                <img src="../../../assets/images/5th.PNG" alt="" class="screenshot">
            </div>
        </ul>
    </ol>
   
    
    
    
    
</div>

