.image-div{
    margin-bottom: 20px;
    margin-top: 20px;
}
.screenshot{
    width: 58%;
    border: 1px solid #555;
}
.list-box{
    background-image: linear-gradient(to right, #2e205d , #f1f1f400);
    color: white;
    padding: 12px;
}