<div class="container-fluid">
    <div class="row">
        <div class="header">
            <span>Login</span>
            <div class="line">
        </div>
        <hr>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="title">
            <span>Login Steps</span>
            <div class="line">
            <hr>
        </div>
    </div>
    <div class="point">
        <div class="red-circle">1</div>
        <span>Username: your email address</span>
    </div>
    <div class="point">
        <div class="red-circle">2</div>
        <span>Passwords should be a minimum of 8 characters
             (including upper and lower case letters, numbers, and special characters)</span>
    </div>
    <div class="point" style="width: 100%;">
        <span class="subheader pl-0">After Login</span>
    </div>
    <div class="point">
        <div class="red-circle">1</div>
        <span>If the Provider is part of the multiple locations, it will ask to select the location</span>
    </div>
    <div class="point">
        <div class="red-circle">2</div>
        <span>If the Provider is not part of the multiple locations, 
            the system will redirect to the dashboard </span>
    </div>
    </div>
</div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-5">
            <img style="width: 100%;" src="../../../assets/images/login.PNG" alt="">
        </div>
        <div class="col-2">
            <div class="arrow">
                <span class="material-icons">
                    east
                    </span>
            </div>
        </div>
        <div class="col-5">
            <img style="width: 100%;" src="../../../assets/images/loginlocation.PNG" alt="">
        </div>
    </div>
</div>