<div class="container-fluid">
    <div class="row">
        <div class="header">
            <span>Dashboard</span>
            <div class="line">
        </div>
        <hr>
    </div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="title">
            <span>Dashboard</span>
            <div class="line">
            <hr>
        </div>
    </div>
    <div class="point">
        <div class="red-circle">1</div>
        <span>Once you click on the"Dashboard" from the sidebar, below screen will be displayed.</span>
    </div>
    <div class="point">
        <div class="red-circle">2</div>
        <span>In this particular component you will see the details of other components and below that the "Order List". </span>
    </div>

    <div class="row">
        <div class="col-12">
            <img class="batch-img mt-4 mb-4 " src="../../../assets/images/dashboard.png" alt="Dashboard">
        </div>
    </div>
    <!-- <div class="point" style="width: 100%;">
        <span class="subheader pl-0">After Login</span>
    </div> -->
   
    
    </div>
</div>



