<div class="container-fluid">
    <div class="row">
        <div class="header">
            <span>Controls</span>
            <div class="line">
        </div>
        <hr>
    </div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="title">
            <span>Controls</span>
            <div class="line">
            <hr>
        </div>
    </div>
    <div class="point">
        <div class="red-circle">1</div>
        <span>Once you click on the"Controls" from the sidebar, below screen will be displayed.</span>
    </div>
    <div class="point">
        <div class="red-circle">2</div>
        <span>In this particular component you will see the "Control List" and when you click on the "Groups" tab then you'll see the group list.</span>
    </div>
    <div class="row">
        <div class="col-12">
            <img class="batch-img mt-4 mb-4 " src="../../../assets/images/groups.png" alt="groups">
        </div>
    </div>
    <!-- <div class="point" style="width: 100%;">
        <span class="subheader pl-0">After Login</span>
    </div> -->
    <div class="point">
        <div class="red-circle">3</div>
        <span>Now if you want to add a new Control or Group then just click on "Add" button from the Control list/Group List.</span>
    </div>
    
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <img class="batch-img mt-4 mb-4 " src="../../../assets/images/controls.png" alt="Controls">
        </div>
    </div>
    <div class="row">
        <!-- <div class="title mt-5">
            <span>Add Batch  </span>
            <div class="line">
        <hr>
        </div>
        </div> -->
        <div class="point">
            <div class="red-circle">4</div>
            <span>When you click on the "Add" button a form will be displayed as shown in the picture below. </span>
        </div>
        <div class="point">
            <div class="red-circle">5</div>
            <span>Just fill in the details and click on the "Save" button at the top and the newly added Control will be displayed in the Control List. </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <img class="batch-img mt-4 mb-4 " src="../../../assets/images/controls1.png" alt="Controls">
        </div>
    </div>
</div>

