<div class="container-fluid">
    <div class="row">
        <div class="header">
            <span>Location</span>
            <div class="line">
        </div>
        <hr>
    </div>
</div>
</div>

<div class="container">
<div class="row">
<div class="title">
    <span>Location</span>
    <div class="line">
<hr>
</div>
</div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <img class="batch-img " src="../../../assets/images/location.png" alt="provider">
        </div>
    </div>
    <div class="row">
        <div class="title mt-5">
            <span>Add Location</span>
            <div class="line">
        <hr>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <img class="batch-img " src="../../../assets/images/location1.png" alt="provider">
        </div>
    </div>
</div>

