<div class="container-fluid">
    <div class="row">
        <div class="header">
            <span>Batch-Profile</span>
            <div class="line">
        </div>
        <hr>
    </div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="title">
            <span>Batch-Profile</span>
            <div class="line">
            <hr>
        </div>
    </div>
    <div class="point">
        <div class="red-circle">1</div>
        <span>Once you click on the"Batch-Profile" from the sidebar, below screen will be displayed.</span>
    </div>
    <div class="point">
        <div class="red-circle">2</div>
        <span>In this particular component you will see the "Profile List". </span>
    </div>
    <!-- <div class="point" style="width: 100%;">
        <span class="subheader pl-0">After Login</span>
    </div> -->
    <div class="point">
        <div class="red-circle">3</div>
        <span>Now if you want to add a new Profile then just click on "Add" button from the Profile list.</span>
    </div>
    
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <img class="batch-img mt-4 mb-4 " src="../../../assets/images/profile.png" alt="Batch-Profile">
        </div>
    </div>
    <div class="row">
        <!-- <div class="title mt-5">
            <span>Add Batch  </span>
            <div class="line">
        <hr>
        </div>
        </div> -->
        <div class="point">
            <div class="red-circle">4</div>
            <span>When you click on the "Add" button a form will be displayed as shown in the picture below. </span>
        </div>
        <div class="point">
            <div class="red-circle">5</div>
            <span>Just fill in the details and click on the "Save" button at the top and the newly added Profile will be displayed in the Profile List. </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <img class="batch-img mt-4 mb-4 " src="../../../assets/images/batch-profile.png" alt="Batch-Profile">
        </div>
    </div>
</div>

