<div class="container-fluid">
    <div class="row">
        <div class="header">
            <span>Orders

            </span>
            <div class="line">
        </div>
        <hr>
    </div>
</div>
</div>

<div class="container">
<div class="row">
<div class="title">
    <span>Orders

    </span>
    <div class="line">
<hr>
</div>
</div>
<div class="point">
    <div class="red-circle">1</div>
    <span>Once you click on the "Orders" from the sidebar, below screen will be displayed.</span>
</div>
<div class="point">
    <div class="red-circle">2</div>
    <span>Here you can see all your orders and their details.</span>
</div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <img class="batch-img mt-4 mb-4 " src="../../../assets/images/order.png" alt="provider">
        </div>
    </div>
    
</div>

