<div class="container-fluid">
    <div class="row">
        <div class="header">
            <span>Users</span>
            <div class="line">
        </div>
        <hr>
    </div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="title">
            <span>Users</span>
            <div class="line">
            <hr>
        </div>
    </div>
    <div class="point">
        <div class="red-circle">1</div>
        <span>Once you click on the"Users" from the sidebar, below screen will be displayed.</span>
    </div>
    <div class="point">
        <div class="red-circle">2</div>
        <span>In this particular component you will see the "user List". </span>
    </div>
    <!-- <div class="point" style="width: 100%;">
        <span class="subheader pl-0">After Login</span>
    </div> -->
   
    
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <img class="batch-img mt-4 mb-4 " src="../../../assets/images/user.png" alt="Users">
        </div>
        <div class="point">
            <div class="red-circle">3</div>
            <span>You can see here that in "User List" all other buttons except "Add" and "Search" are not active.  </span>
        </div>
        <div class="point">
            <div class="red-circle">4</div>
            <span>Now when you select any user from the User List all other buttons become active as shown below. </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <img class="batch-img mt-4 mb-4 " src="../../../assets/images/user-select.png" alt="Users">
        </div>
    </div>
    <div class="row">
        <div class="title mt-5">
            <span>Add User  </span>
            <div class="line">
        <hr>
        </div>
        </div>
        <div class="point">
            <div class="red-circle">1</div>
            <span>Now if you want to add a new user then just click on "Add" button from the User list</span>
        </div>
        <div class="point">
            <div class="red-circle">2</div>
            <span>When you click on the "Add" button a form will be displayed as shown in the picture below. </span>
        </div>
       
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <img class="batch-img mt-4 mb-4 " src="../../../assets/images/user-form.png" alt="Users">
        </div>
        <div class="point">
            <div class="red-circle">3</div>
            <span>Just fill in the user details and to choose "User Role" and "User Location" click on the "Add" button. </span>
        </div>
       
        <div class="point">
            <div class="red-circle">4</div>
            <span>A dialogue box will be displayed as shown below.Choose one option from the dialogue box and click on "Ok" button. </span>
        </div>
    </div>
   
   
    <div class="row">
        <div class="col-12 mt-3">
            <img class="batch-img mt-4 mb-4 " src="../../../assets/images/role.png" alt="Users">
        </div>
        <div class="point">
            <div class="red-circle">5</div>
            <span>After filling all the details click on the "Save" button at the top and the newly added user will be displayed in the User List.  </span>
        </div>
    </div>
  
</div>

