<div class="container-fluid">
    <div class="row">
        <div class="header">
            <span>Patients</span>
            <div class="line">
        </div>
        <hr>
    </div>
</div>
</div>

<div class="container">
<div class="row">
<div class="title">
    <span>Patients List </span>
    <div class="line">
<hr>
</div>
</div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <img class="img-size" src="../../../assets/images/patients.png" alt="">
        </div>
    </div>
<div class="row mt-5">
    <div class="title">
        <span>Add Patients </span>
        <div class="line">
    <hr>
    </div>
    </div>
</div>
    <div class="row">
        <div class="col-12">
            <img class="img-size" src="../../../assets/images/addpatient.png" alt="">
        </div>
    </div>
</div>

