<div class="container-fluid">
    <div class="row">
        <div class="header">
            <span>Inventory</span>
            <div class="line">
        </div>
        <hr>
    </div>
    <div class="point">
        <div class="red-circle">1</div>
        <span>When you click on the"Inventory" from the sidebar,you'll see there are 10 types of Inventory as shown below:</span>
    </div>
</div>
</div>

<div class="container  mt-4">
<div class="row">
<div class="title">
    <span>Vendors  </span>
    <div class="line">
<hr>
</div>
</div>

</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <img class="batch-img " src="../../../assets/images/vender.png" alt="provider">
        </div>
    </div>
    <div class="row">
        <div class="title mt-5">
            <span>Brand Type</span>
            <div class="line">
        <hr>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <img class="batch-img " src="../../../assets/images/brand-type.png" alt="provider">
        </div>
    </div>
    <div class="row">
        <div class="title mt-5">
            <span>Add Vendor/Brand-type</span>
            <div class="line">
        <hr>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <img class="batch-img mb-4 " src="../../../assets/images/add-vendor.png" alt="provider">
        </div>
    </div>
</div>

